@import url("./global.css");


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: var(--on-surface-container); 
  border: 1px solid var(--border);
  border-radius: 100px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}


/* LOGIN & SIGN UP PAGES STYLING
========================================================================== */

.left img {
  max-width: 100%;
  object-fit: cover;
  transform: translateX(-50%);
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: var(--spacing-8);
}

/* header styling */
.right header {
  display: flex;
  flex-direction: row;
  gap:var(--spacing-05);
  align-items: center;

}

.right header p{
  font-size: var(--fs-body1);
}

.right .logo{
  width: 120px;
  margin-inline: auto;
}

.theme-toggle-icon{
  display: flex;
  background-color: var(--surface-container);
  border-radius: 1000px;
  gap: var(--spacing-4);
  padding: var(--spacing-1);
  align-items: center;
  cursor: pointer;
}

.theme-icons{
  padding-inline: var(--spacing-05);
  padding-block: 0;
  border-radius: 100px;
}

.active-icon{
  background-color: var(--on-surface-container);
}

.right form {
  display: flex;
  flex-direction: column;
}
.right form header{
  display: flex;
  flex-direction: column;
  gap:var(--spacing-05);
  margin-bottom: var(--spacing-13);
}

.right form h1{
  color: var(--white);
}

/*inputs*/
.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:var(--spacing-4);
}

.inputs.for-general {
  margin-block: var(--spacing-5);
}

.inputs img, 
.error-wrapper img{
  width: 20px;
}


input:not(input[type='checkbox'], input[type='submit']){
  padding-block: var(--spacing-3);
  width: 100%;
  background-color: transparent;
  
}

.inputs div {
  border: 1px solid transparent;
}

.full-name{
  display: flex;
  width: 100%;
  gap: var(--spacing-6);
}

.input-field{
  display: flex;
  background-color: var(--surface-container);
  border-radius: var(--spacing-2);
  overflow: hidden;
  width: 100%;
  gap:var(--spacing-2);
  padding-inline: var(--spacing-3);
  color:var(--white);
  align-items: center;
}

.search-bar-wrapper {
  width: 350px;
}

.inputs div:not(.full-name, .input-validation, .error-wrapper, .upload-label):hover{
  border: 1px solid var(--primary);
  transition: all .25s ease;
}

.full-name .input-validation {
  flex-grow: 1;
}


.error-wrapper{
  margin-top: var(--spacing-1);
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
}

/* password input */
.password-toggle{
  cursor: pointer;
}

/* privacy check */
.privacy-check{
  display: flex;
  align-items: center;
  gap:var(--spacing-2);
  margin-block: var(--spacing-5);
}

/*cta part*/
.cta{
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  gap: var(--spacing-3);
  margin-top:var(--spacing-8);
  transition:background-color .4s ease;
}

.cta a, 
.privacy-check a{
  color: var(--primary);
  text-decoration: underline;
}

/* footer part */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p{
  color: var(--clr-gray-600);
}

.right ul {
  display: flex;
  gap: var(--spacing-6);
} 

/* DASHBOAD STYLING
========================================================================== */
.dashboard-container{
  display: flex;
}

.content-container{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
}

.w-half {
  width: 50%;
}

.dashboard-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--spacing-5);
  border-bottom: 1px solid var(--border);
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 10;
}

.dashboard-header a {
  text-decoration: none;
}

.dashboard-container main{
  width: calc(100% - (100% / 6));
  margin-left: calc(100% / 6);
}

/*
* Side bar
*/

.side-bar{
  display: flex;
  flex-direction: column;
  width: calc(100% / 6);
  border-right: var(--border-line);
  height: 100vh;
  color: var(--background-text);
  position: fixed;
  top: 0;
  z-index: 10;
}

.side-bar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-4);
  border-bottom: var(--border-line);
  margin-bottom: var(--spacing-4);
}

.side-bar .logo{
  width: 120px;
}

.side-bar ul{
  display: flex;
  flex-direction: column;
  padding-inline: var(--spacing-4);
  justify-content: space-between;
  height: 100%;
}

.side-bar .navigation-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.role{
  background-color: var(--clr-primary-100);
  color:var(--clr-primary-700);
  padding: var(--spacing-1);
  border-radius: 100px;
  font-size: var(--fs-caption1);
}

.side-bar ul a{
  display: flex;
  align-items: center;
  gap:var(--spacing-2);
}

.side-bar-footer{
  display: flex;
  justify-content: space-between;
  padding-inline: var(--spacing-4);
  padding-block: var(--spacing-2);
  border-top: var(--border-line) ;
  margin-top: var(--spacing-4);
}
.side-bar-footer.profile{
  display: inline-block;
  text-align: center;
}

.side-bar-footer p{
  font-size: var(--fs-caption1);
}

/* 
*Settings page
*/

.dropDowns-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.drop-arrow{
  transition: transform 0.4s ease;
}

.dropContent{
  transition: grid-template-rows 0.4s ease;
  display: grid;
  grid-template-rows: 0fr;
  width: clamp(35%, 15%, 250px);
  
}

.spacer{
  height: var(--spacing-6);
  display: none;
}

.dropContent form,
.dropContent .appearence-dropDown-wrapper{
  overflow: hidden;
}

.expanded {
  display: grid;
  grid-template-rows: 1fr;
}

.dropDown{
  display: flex;
  flex-direction: column;
}

.dropDown-wrapper{
  background-color: var(--surface-container);
  padding: var(--spacing-3);
  border-radius: 8px;
}

.dropHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color .25s ease;
}
.headerContent{
  display: flex;
  align-items: center;
  gap:var(--spacing-1);
  pointer-events: none;
}

.dropHeader h3{
  color: var(--background-text);
}

.dropDown .input-field{
  background-color: var(--on-surface-container);
}

.update-username-wrapper,
.update-password-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.appearence-dropDown-wrapper{
  display: flex;
  flex-direction: column;
  gap:var(--spacing-2);
}

.appearence-option-wrapper{
  display: flex;
  gap:var(--spacing-2);
  padding: var(--spacing-2);
  cursor: pointer;
  border-radius: 6px;
  transition: all .3s ease;
}

.appearence-option-wrapper:hover{
  background-color: var(--on-surface-container);
  opacity: 1;
}

/* 
  * Create post page 
*/
.categories-dropDown{
  width: 100%;
}

.create-post-inputs-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.upload-field{
  justify-content: space-between;
  cursor: pointer;
}

.custom-file-upload{
  font-size: var(--fs-caption1);
  border-radius: 1000px;
  padding-inline: var(--spacing-3);
  padding-block: var(--spacing-2);
  white-space: nowrap;
  display: inline-block;
  background-color: var(--on-surface-container);
  cursor: pointer;
}

#file-upload{
  display: none;
}

.upload-label{
  display: flex;
  gap: var(--spacing-2);
}

.publish-form-btn{
  /* hide the submit button */
  display: none;
}

/* 
  *editor rich text 
*/
.editor-container{
  background-color: var(--surface-container);
  border-radius: 8px;
  overflow: hidden;
}

.ck .ck-editor {
  color: var(--color);
  background-color: var(--surface-container) !important;
  border: none !important;
  outline: none !important;
}

.ck .ck-editor__editable_inline {
  background-color: var(--surface-container) !important;
  color:var(--background-text) !important;
  border: none !important;
  min-height: 300px;
  padding: var(--spacing-2);
}

.ck .ck-editor__editable_inline ul li{
  list-style-type:disc !important;
}
.ck .ck-editor__editable_inline ol li{
  list-style-type:decimal !important;
}

.ck .ck-editor__editable_inline ul,
.ck .ck-editor__editable_inline ol{
  padding-left:var(--spacing-4);
}

.ck.ck-toolbar {
  background-color: var(--surface-container) !important;
  color: #fff;
  border: none;
  outline: none;
}

.ck.ck-toolbar button {
  color:var(--background-text) !important;
}

.ck.ck-toolbar button:hover {
  background-color: var(--on-surface-container) !important;
}

.ck .ck-sticky-panel__content{
  border: none !important;
  border-bottom: 1px solid var(--border) !important;
  padding-bottom: var(--spacing-2) !important;
}

.ck.ck-toolbar .ck-button__label {
  color: var(--background-text);
}

.ck .ck-dropdown__panel{
  background-color: var(--surface-container) !important;
}

.ck .ck-dropdown__panel .ck-list{
  background-color: var(--surface-container) !important;
}

.ck .ck-on{
  border: none !important;
  outline: none !important;
  background-color: var(--on-surface-container) !important;
}

.ck .ck-list__item{
  border: none !important;
  outline: none !important;
  border-collapse: none !important;
}

/* 
  * Manage users page 
*/

.table-wrapper{
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-state-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-8);
  gap:var(--spacing-4)
}

.empty {
  background-color: var(--surface-container);
  color: var(--clr-warning);
  padding: var(--spacing-3);
  border-radius: var(--spacing-2);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

table {
  width: 100%;
  border-collapse: collapse;
  word-wrap: break-word;
  border-radius: 8px;
}

th, td {
  padding: var(--spacing-3);
  text-align: left;
  border-bottom: 1px solid var(--border);
  font-size: var(--fs-body2);
}

td{
  padding-block: var(--spacing-2);
}

th {
  background-color: var(--surface-container);
  font-weight: var(--fw-sm);
}

/* 
  * Manage posts page 
*/
.post-wrapper, 
.comment-wrapper.manage-comment{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-5);
  margin-bottom: var(--spacing-5);
  border-bottom: 1px solid var(--border);
}

.comment-wrapper.manage-comment {
  margin-bottom:0px;
  gap:var(--spacing-8);
}

.post-wrapper:last-child{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.post-wrapper .image-content-wrapper{
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.post-wrapper img {
  aspect-ratio: 1;
  width: 75px;
  border-radius: 8px;
  object-fit: cover;
}

.post-category-date {
  display: flex;
  align-items: center;
  gap:var(--spacing-2);
}

.divider{
  width: 1px;
  height: 12px;
  background-color: var(--border);  
  border-radius: 10px;
  display: inline-block;

}
.divider.horizontal{
  height: 1px;
  width: 100%;
  margin-block: var(--spacing-4);
}

.post-content, .card-content{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.post-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.post-intractions-wrapper,
.views-likes-wrapper{
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.post-intractions-wrapper img{
  width: 18px;
}


.post-intraction-wrapper{
  display: flex;
  align-items: center;
  gap: var(--spacing-1);

}

.chip1{
  border-radius: 1000px;
  background-color: var(--on-surface-container);
  padding-inline: var(--spacing-2);
  padding-block: var(--spacing-05);
}

.post-actions form,
.comments-actions form{
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

/* 
*HOME page
*/

.main-header{
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-12);
  position: relative;
}

.upper-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-4);
  border-bottom: 1px solid var(--border);
  position: relative;
}

.upper-header .auth-buttons,
.upper-header .upper-header-actions{
  display: flex;
  gap: var(--spacing-5);
  align-items: center;
}

.upper-header .auth-buttons a{
  padding-inline: var(--spacing-3);
  padding-block: var(--spacing-2);
  border-radius: 100px;
}

.upper-header .auth-buttons a:first-child{
  background-color: transparent;
  color: var(--background-text);
}
.upper-header .auth-buttons a:first-child:hover{
  color: var(--primary);
}

.home-logo{
  width: 120px;
}

.main-header ul{
  display: flex;
  gap:var(--spacing-6);
  padding-top: var(--spacing-4);
}

.main-header ul .active-nav{
  color: var(--primary);
}

.profile-wrapper{
  position: relative;
  height: 100%;
}

.profile-btn {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  padding-inline:var(--spacing-2);
  padding-block:var(--spacing-2);
  background-color: var(--on-surface-container);
  border-radius: 18px;
  cursor: pointer;
}

.profile-btn .theme-toggle-icon {
  margin-top: var(--spacing-3);
  display: none;
}

.profile-btn a {
  display:none;
  padding: 0px !important;
  margin-top:var(--spacing-4);
  margin-bottom:var(--spacing-1);
  transition: all .4s ease;
  color:var(--clr-error)

}
.profile-btn a:hover {
  margin-left: var(--spacing-1);

}

.profile-btn:hover a {
  display: inline-block;
}
.profile-btn:hover .theme-toggle-icon {
  display: flex;
}

.profile-btn .profile-name {
  display:flex;
  align-items: center;
  gap:var(--spacing-1);
}


.top-news, 
.latest-news{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.latest-news .card .post-img {
  aspect-ratio: 14/9;
  object-fit: cover;
}

.cards-wrapper{
  display: grid;
  gap: var(--spacing-10);
}

.top-news .cards-wrapper{
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-item right-top" "left-item right-bottom";
  gap: var(--spacing-10);
}


.main-card:nth-child(2),
.main-card:last-child {
  flex-grow: 1;
}

.main-card:nth-child(2) a,
.main-card:last-child a{
  display: flex;
  width: 100%;
  height: 100%;
}

.main-card:nth-child(2) a > img,
.main-card:last-child a > img{
  width: 200px;
  object-fit: cover;
}


.main-card:first-child{
  grid-area: left-item;
}

.main-card:nth-child(2){
  grid-area: right-top;
}

.main-card:last-child{
  grid-area: right-bottom;
}

.cards-wrapper{
  grid-template-columns: repeat(3, 1fr);
}

.card-content{
  padding: var(--spacing-4);
}

.card-content h2,
.card-content h3{
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
} 

.main-card .card-content h2,
.latest-news .card-content h3{
  -webkit-line-clamp: 2;
  margin-top: var(--spacing-2);
}

.main-card:nth-child(2) h2,
.main-card:last-child h2{
  -webkit-line-clamp: 3;
  margin-top: var(--spacing-3);
}

.card{
  border: 1px solid var(--border);
  border-radius: var(--spacing-3);
  overflow: hidden;
}

.home-footer{
  display: flex;
  flex-direction: column;
}


.upper-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  border-bottom: 1px solid var(--border);
  width: 100%;
  align-items:center;
}


.upper-footer ul {
  display: flex;
  gap: var(--spacing-8);
}

.upper-footer ul li:hover{
  color: var(--primary);
}

.upper-footer .social-media-icons svg > path,
.upper-footer ul li {
  transition: all .35s ease;
}

.upper-footer .social-media-wrapper{
  display: flex;
  gap: var(--spacing-2);
}
.upper-footer .social-media-icons{
  display: flex;
  gap: var(--spacing-2);
}

.upper-footer .social-media-icons svg:hover > path{
 fill:var(--primary);
}

.home-footer {
  margin-top:var(--spacing-8);
}

/* 
*POST page
*/
.post-page-wrapper .post-img{
  margin-block:var(--spacing-12);
  border-radius: var(--spacing-3);
}
.post-page-wrapper .post-intractions-wrapper {
  margin-block:var(--spacing-12);
  padding-block: var(--spacing-2);
  gap: var(--spacing-4);
  border-block: 1px solid var(--border);

}
.post-page-wrapper .post-intractions-wrapper img {
  width: 20px;
}

.post-page-wrapper .post-intraction-wrapper {
  padding: var(--spacing-2);
  border-radius: 100px;
  background-color: transparent;
}

.post-bookmarks-wrapper {
  color:var(--background-text)
}

.post-likes-wrapper {
  cursor: pointer;
  transition: background-color .4s ease-in-out;
}

.post-likes-wrapper:hover {
  background-color: var(--on-surface-container);
}

.write-comment-wrapper {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-6);
} 
.write-comment-wrapper form {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-6);
  align-items: start;
}

.write-comment-input{
  display: flex;
  align-items: start;
  transition: background-color .4s ease-in-out;

}
.write-comment-input:hover{
  background-color: var(--on-surface-container);

}

.write-comment-wrapper .input-field {
  padding-block: var(--spacing-3);
}

.write-comment-wrapper .input-field textarea {
  background-color: transparent;
  width: 100%;
  resize: none;
}
.comments-section-wrapper{
  margin-top: var(--spacing-8);
}
.comments-section-wrapper,
.comments-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}
.comment-wrapper, .comment-body {
  display: flex;
  gap: var(--spacing-2);
  align-items: start;
  
}

.comment-body:hover  .comment-content {
  background-color: var(--hover-on-surface-container);
}


.comment-wrapper .comment-img{
  aspect-ratio: 1;
  padding: var(--spacing-1);
  border-radius: 100px;
  flex-shrink: 0;
  width: clamp(16px, 8%, 28px);
}

.comment-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.comment-content-wrapper .comment-header{
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  flex-wrap: wrap;
}
.comment-content-wrapper .comment-header .bullet{
  width: 4px;
  aspect-ratio: 1;
  background-color: var(--background-text);
  border-radius: 100px;
}
.comment-content-wrapper .comment-content{
  padding: var(--spacing-2);
  border-radius: var(--spacing-2);
  background-color: var(--on-surface-container);
  transition: background-color .4s ease-in-out;
}


/* 
*Popups
*/
.swal-modal {
  background-color: var(--background);
  border-radius: 20px;
  border: none;
  overflow: hidden;
}

.swal-button{
  font-size: var(--fs-button);
  background-color: var(--on-surface-container);
  color: var(--clr-primary);
  padding-inline: var(--spacing-3);
  padding-block: var(--spacing-2);
  border-radius: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .35s ease;
  font-weight: var(--fw-regular);

}
.swal-gotoBtn {
  color:var(--background-text);
}

.swal-button:hover {
  background-color: var(--hover-on-surface-container) !important;
}

.swal-button:focus,
.swal-button:active {
  box-shadow: none;
}


.swal-title,
.swal-text,.swal-icon--success:after,
.swal-icon--success::before {
  color: var(--background-text);
}

.swal-icon--success:after,
.swal-icon--success::before,
.swal-icon--success__hide-corners {
  background-color: var(--background);
}


.swal-icon--warning{
  border-color: var(--clr-warning) !important;
}

.swal-icon--warning__body,
.swal-icon--warning__dot{
  background-color: var(--clr-warning) !important;
}



/* 
*OVERVIEW PAGE
*/

.overview-cards-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--spacing-4);
}
.overview-card {
  padding: var(--spacing-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-2);
  border: 1px solid var(--border);
  /* min-width: 200px; */
  flex-grow: 1;
  background-color: var(--surface-container);
}
.overview-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.overview-posts,
.overview-cards,
.overview-comments {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-4);

}

.overview-posts,
.overview-comments {
  margin-bottom: 0;

}
.see-more {
  display: flex;
  align-items: center;
  gap:var(--spacing-1);
  color: var(--primary);
}


.overview-posts-header,
.overview-comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.overview-posts-wrapper,
.overview-comments-wrapper {
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: var(--spacing-4);
  max-height: 400px;
  overflow: scroll;
  background-color: var(--surface-container);
}


.overview-comments-wrapper {
  padding-block: 0;
  max-height: 450px;
  overflow: scroll;
}
.overview-comment{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-5);
  margin-block: var(--spacing-4);
  border-bottom: 1px solid var(--border);
  gap:var(--spacing-4);
}

.overview-comment:last-child{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}


.overview-content {
  display: flex;
  gap:var(--spacing-4)
}

.overview-content .main-content {
  flex-grow: 1;
}

.overview-content .overview-comments {
  width: 30%;
}

/* 
*USER PROFILE 
*/
.danger-zone-area {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-4);
  align-items: flex-start;
  padding: var(--spacing-8);
  margin-top: var(--spacing-4);
  border: 1px solid var(--clr-error-600);
  border-radius: 12px;
  background-color:rgba(254,67,67, 0.15);
}


/* 
*RESPONSIVE LAYOUT
*/