@import url("./global.css");


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: var(--on-surface-container); 
  border: 1px solid var(--border);
  border-radius: 100px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}


/* LOGIN & SIGN UP PAGES STYLING
========================================================================== */

.left img {
  max-width: 100%;
  object-fit: cover;
  transform: translateX(-50%);
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: var(--spacing-8);
}


/* header styling */
.right header {
  display: flex;
  flex-direction: row;
  gap:var(--spacing-05);
  align-items: center;

}

.right header p{
  font-size: var(--fs-body1);
}

.right .logo{
  width: 120px;
  margin-inline: auto;
}

.theme-toggle-icon{
  display: flex;
  background-color: var(--surface-container);
  border-radius: 1000px;
  gap: var(--spacing-4);
  padding: var(--spacing-1);
  align-items: center;
  cursor: pointer;
}

.theme-icons{
  padding: var(--spacing-1);
  border-radius: 100px;
}

.active-icon{
  background-color: var(--on-surface-container);

}

.right form {
  display: flex;
  flex-direction: column;
}
.right form header{
  display: flex;
  flex-direction: column;
  gap:var(--spacing-05);
  margin-bottom: var(--spacing-13);
}


.right form h1{
  color: var(--white);
}


/*inputs*/
.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:var(--spacing-4);
}

.inputs img, 
.error-wrapper img{
  width: 20px;
}

.inputs input{
  padding-block: var(--spacing-3);
  width: 100%;
  background-color: transparent;
  
}

.inputs div {
  border: 1px solid transparent;
}

.full-name{
  display: flex;
  gap: var(--spacing-6);
}

.input-field{
  display: flex;
  background-color: var(--surface-container);
  border-radius: var(--spacing-2);
  overflow: hidden;
  width: 100%;
  gap:var(--spacing-2);
  padding-inline: var(--spacing-3);
  color:var(--white);
  align-items: center;
}

.inputs div:not(.full-name, .input-validation, .error-wrapper, .upload-label):hover{
  border: 1px solid var(--primary);
  transition: all .25s ease;
}

.error-wrapper{
  margin-top: var(--spacing-1);
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
}

/* password input */
.password-toggle{
  cursor: pointer;

}

/* privacy check */
.privacy-check{
  display: flex;
  align-items: center;
  gap:var(--spacing-2);
  margin-block: var(--spacing-5);
}

/*cta part*/
.cta{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  margin-top:var(--spacing-8);
  transition:background-color .4s ease;
}

.cta a, 
.privacy-check a{
  color: var(--primary);
  text-decoration: underline;
}

/* footer part */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p{
  color: var(--clr-gray-600);
}

.right ul {
  display: flex;
  gap: var(--spacing-6);
} 


/* DASHBOAD STYLING
========================================================================== */
.dashboard-container{
  display: flex;
}

.content-container{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
}

.dashboard-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--spacing-5);
  border-bottom: 1px solid var(--border);
}

.dashboard-header a {
  text-decoration: none;
}


main{
  width: calc(100% - (100% / 6));
}

/*
* Side bar
*/

.side-bar{
  display: flex;
  flex-direction: column;
  /* min-width: min(25%, 250px); */
  width: calc(100% / 6);
  border-right: var(--border-line);
  min-height: 100vh;
  color: var(--background-text);

}

.side-bar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-4);
  border-bottom: var(--border-line);
  margin-bottom: var(--spacing-4);
}

.side-bar .logo{
  width: 120px;
}

.side-bar ul{
  display: flex;
  flex-direction: column;
  padding-inline: var(--spacing-4);
  justify-content: space-between;
  height: 100%;
}

.side-bar .navigation-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.role{
  background-color: var(--clr-primary-100);
  color:var(--clr-primary-700);
  padding: var(--spacing-1);
  border-radius: 100px;
  font-size: var(--fs-caption1);
}

.side-bar ul a{
  display: flex;
  align-items: center;
  gap:var(--spacing-2);
  
}

.side-bar-footer{
  display: flex;
  justify-content: space-between;
  padding-inline: var(--spacing-4);
  padding-block: var(--spacing-2);
  border-top: var(--border-line) ;
  margin-top: var(--spacing-4);
}

.side-bar-footer p{
  font-size: var(--fs-caption1);
  
}

/* 
*Settings page
*/

.dropDowns-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}
.drop-arrow{
  transition: transform 0.4s ease;
}

.dropContent{
  transition: grid-template-rows 0.4s ease;
  display: grid;
  grid-template-rows: 0fr;
  width: clamp(35%, 15%, 250px);
  
}
.spacer{
  height: var(--spacing-6);
  display: none;
}

.dropContent form,
.dropContent .appearence-dropDown-wrapper{
  overflow: hidden;
}

.expanded {
  display: grid;
  grid-template-rows: 1fr;
}

.dropDown{
  display: flex;
  flex-direction: column;
}

.dropDown-wrapper{
  background-color: var(--surface-container);
  padding: var(--spacing-3);
  border-radius: 8px;
}

.dropHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color .25s ease;
}
.headerContent{
  display: flex;
  align-items: center;
  gap:var(--spacing-1);
  pointer-events: none;
}
.dropHeader h3{
  color: var(--background-text);
}

.dropDown .input-field{
  background-color: var(--on-surface-container);
}


.update-username-wrapper,
.update-password-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.appearence-dropDown-wrapper{
  display: flex;
  flex-direction: column;
  gap:var(--spacing-2);
}

.appearence-option-wrapper{
  display: flex;
  gap:var(--spacing-2);
  padding: var(--spacing-2);
  cursor: pointer;
  border-radius: 6px;
  transition: all .3s ease;
}
.appearence-option-wrapper:hover{
  background-color: var(--on-surface-container);
  opacity: 1;
}


/* 
  * Create post page 
*/
.categories-dropDown{
  width: 100%;
  /* padding: ; */
}

.create-post-inputs-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
.upload-field{
  justify-content: space-between;
  cursor: pointer;
}

.custom-file-upload{
  font-size: var(--fs-caption1);
  border-radius: 1000px;
  padding-inline: var(--spacing-3);
  padding-block: var(--spacing-2);
  white-space: nowrap;
  display: inline-block;
  background-color: var(--on-surface-container);
  cursor: pointer;
}

#file-upload{
  display: none;
}

.upload-label{
  display: flex;
  gap: var(--spacing-2);
}

.publish-form-btn{
  /* hide the submit button */
  display: none;

}

/* 
  *editor rich text 
*/
.editor-container{
  background-color: var(--surface-container);
  border-radius: 8px;
  overflow: hidden;
}
.ck .ck-editor {
  color: var(--color);
  background-color: var(--surface-container) !important;
  border: none !important;
  outline: none !important;
}

.ck .ck-editor__editable_inline {
  background-color: var(--surface-container) !important;
  color:var(--background-text) !important;
  border: none !important;
  min-height: 300px;
  padding: var(--spacing-2);
}
.ck .ck-editor__editable_inline li{
  list-style-type:circle !important;
}

.ck.ck-toolbar {
  background-color: var(--surface-container) !important;
  color: #fff;
  border: none;
  outline: none;
}

.ck.ck-toolbar button {
  color:var(--background-text) !important; ;
}

.ck.ck-toolbar button:hover {
  background-color: var(--on-surface-container) !important;
}

.ck .ck-sticky-panel__content{
  border: none !important;
  border-bottom: 1px solid var(--border) !important;
  padding-bottom: var(--spacing-2) !important;
}

.ck.ck-toolbar .ck-button__label {
  color: var(--background-text);
}

.ck .ck-dropdown__panel{
  background-color: var(--surface-container) !important;
}

.ck .ck-dropdown__panel .ck-list{
  background-color: var(--surface-container) !important;
}

.ck .ck-on{
  border: none !important;
  outline: none !important;
  background-color: var(--on-surface-container) !important;
}

.ck .ck-list__item{
  border: none !important;
  outline: none !important;
  border-collapse: none !important;
}



/* 
  * Manage users page 
*/


.table-wrapper{
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-state-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-8);
  gap:var(--spacing-4)
}

table {
  width: 100%;
  border-collapse: collapse;
  word-wrap: break-word;
  border-radius: 8px;
}

th, td {
  padding: var(--spacing-3);
  text-align: left;
  /* width: 25%; */
  border-bottom: 1px solid var(--border);
  font-size: var(--fs-body2);
}

td{
  padding-block: var(--spacing-2);

}

th {
  background-color: var(--surface-container);
  font-weight: var(--fw-sm);
}